---
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>高橋・狩川研究室</title>
</head>
<nav>
  <img src="/Logo2020_black.png" class="headerLogo" />
  <h1><span class="mgl-10">高橋・狩川研究室</span></h1>
  <ul>
    <li><a href="/">ホーム</a></li>
    <li><a href="#">研究グループ</a></li>
    <li><a href="#">メンバー</a></li>
    <li><a href="#">卒業後の進路</a></li>
    <li><a href="#">アクセス</a></li>
    <li><a href="#">ブログ</a></li>
  </ul>
</nav>
<section class="welcome">
  <img
    class="scroll-image"
    src="/aviation/aviationPageTop1.png"
    data-src1="/aviation/aviationPageTop1.png"
  />
</section>

<section class="researchBackGround">
  <div class="container">
    <h2 class="firstText fadein">研究背景</h2>
    <p class="fadein">
      航空機のような大規模複雑システムの安全性向上のために、ヒューマン
      エラーに起因する事故の防止が重要な課題となっています。従来は、自
      動化やマニュアルの厳格化など、人間のシステムへの関与を減らす対策
      がとられてきました。しかし近年、予期されていない状況変化の中でシ
      ステムの安全性を維持するため、人間の持つ柔軟な対応能力(レジリエ
      ンス)の重要性が再認識されています。本グループでは、日々の安定的
      なシステムの運用を支えている個人や、チームのレジリエンスの可視化
      を通じて、その向上を支援する訓練手法等について研究しています。
    </p>
  </div>
  <!--end container-->
</section>

<section class="researchTheme">
  <div class="container">
    <h2 class="fadein">研究テーマ</h2>
    <div class="fadein grid">
      <div class="grid-product">
        <img src="/aviation/sampleANA.jpeg" />
        <div class="grid-detail">
          <p class="gridText">
            複雑システムにおける<br />オぺレータの状況認識支援指針<br
            />に関する研究
          </p>
        </div>
      </div>

      <div class="grid-product">
        <img src="/aviation/sampleANA.jpeg" />
        <div class="grid-detail">
          <p class="gridText">
            運航乗務員の<br />レジリエンス・コンピテンシー<br />に関する研究
          </p>
        </div>
      </div>

      <div class="grid-product">
        <img src="/aviation/sampleANA.jpeg" />
        <div class="grid-detail">
          <p class="gridText">
            人工物環境が<br />チーム協調に与える影響<br />に関する実験研究
          </p>
        </div>
      </div>

      <div class="grid-product">
        <img src="/aviation/sampleANA.jpeg" />
        <div class="grid-detail">
          <p class="gridText">
            失敗許容度が<br />訓練効果に与える影響<br />に関する実験研究
          </p>
        </div>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>

<section class="researchDetails">
  <div class="container">
    <h2 class="fadein">
      複雑システムにおけるオペレーターの状況認識支援指針に関する研究
    </h2>
    <div class="fadein">
      <p>
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
      </p>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>

<section class="researchDetails">
  <div class="container">
    <h2 class="fadein">運行乗務員のレジリエンス・コンピテンシーに関する研究</h2>
    <div class="grid-full fadein">
      <div class="grid-product-full">
        <img src="/aviation/sampleANA.jpeg" />
        <div class="grid-detail-sum">
          <p class="gridText">
            TextTextTextTextTextTextTextTextTextTextText
            TextTextTextTextTextTextTextTextTextTextText
            TextTextTextTextTextTextTextTextTextTextText
            TextTextTextTextTextTextTextTextTextTextText
            TextTextTextTextTextTextTextTextTextTextText
            TextTextTextTextTextTextTextTextTextTextText
            TextTextTextTextTextTextTextTextTextTextText
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="researchDetails">
  <div class="container">
    <h2 class="fadein">人工物環境がチーム協調に与える影響に関する実験研究</h2>
    <div class="fadein">
      <p>
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
      </p>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>

<section class="researchDetails">
  <div class="container">
    <h2 class="fadein">失敗許容度が訓練効果に与える影響に関する研究</h2>
    <div class="fadein">
      <p>
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
        TextTextTextTextTextTextTextTextTextTextText
      </p>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
<footer>
  <div class="footer-main">
    <div class="footer-welcome">
      <p>高橋・狩川研究室ホームページへようこそ</p>
    </div>
    <!-- end footer-welcome -->

    <div class="footer-ul">
      <ul>
        <li><h4>高橋・狩川研究室</h4></li>
        <li><a href="#">ホーム</a></li>
        <li><a href="#">研究グループ</a></li>
        <li><a href="#">メンバー</a></li>
        <li><a href="#">卒業後の進路</a></li>
        <li><a href="#">アクセス</a></li>
        <li><a href="#">ブログ</a></li>
      </ul>

      <ul>
        <li><h4>東北大学 工学部</h4></li>
        <li>
          <a href="https://www.dream.mech.tohoku.ac.jp">機械知能・航空工学科</a>
        </li>
        <li>
          <a href="https://www.ecei.tohoku.ac.jp/eipe/">電気情報物理工学科</a>
        </li>
        <li><a href="http://www.che.tohoku.ac.jp/">化学・バイオ工学科</a></li>
        <li>
          <a href="http://www.material.tohoku.ac.jp/dept/">材料科学総合学科</a>
        </li>
        <li>
          <a href="http://civil.archi.tohoku.ac.jp/">建築・社会環境工学科</a>
        </li>
      </ul>

      <ul>
        <li><h4>東北大学 工学研究科</h4></li>
        <li>
          <a href="https://www.mech.tohoku.ac.jp/lab-guide/lab-mse/"
            >機械機能創成専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/rb.html"
            >ロボティクス専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/qse.html"
            >量子エネルギー工学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/communication.html"
            >通信工学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/apph.html"
            >応用物理学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/chme.html">化学工学専攻</a>
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/metallurgy.html"
            >金属フロンティア工学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/mtp.html"
            >材料システム工学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/archi.html"
            >都市・建築学専攻</a
          >
        </li>
      </ul>

      <ul>
        <li><h4></h4></li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/fm.html"
            >ファインメカニクス専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/ae.html"
            >航空宇宙工学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/electrical.html"
            >電気エネルギーシステム専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/electronic.html"
            >電子工学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/appc.html">応用化学専攻</a>
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/bioe.html"
            >バイオ工学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/mts.html"
            >知能デバイス材料学専攻</a
          >
        </li>
        <li>
          <a href="https://www.eng.tohoku.ac.jp/grad/civil.html">土木工学</a>
        </li>
        <li>
          <a href="https://www.most.tohoku.ac.jp">技術社会システム専攻</a>
        </li>
      </ul>

      <ul>
        <li><h4>工学研究科付属教育研究施設</h4></li>
        <li>
          <a href="http://www.rift.mech.tohoku.ac.jp/"
            >先端材料強度科学研究センター</a
          >
        </li>
        <li>
          <a href="https://www.che.tohoku.ac.jp/~scf/"
            >超臨界溶媒工学研究センター</a
          >
        </li>
        <li>
          <a href="https://web.tohoku.ac.jp/mnc/"
            >マイクロ・ナノマシニング研究教育センター</a
          >
        </li>
        <li id="mt"><h4>工学研究科関連組織等</h4></li>
        <li><a href="https://www.ip.eng.tohoku.ac.jp/">創造工学センター</a></li>
        <li>
          <a href="https://www.ied.eng.tohoku.ac.jp/"
            >インターナショナルオフィス</a
          >
        </li>
        <li><a href="http://www.tech.eng.tohoku.ac.jp/">技術部</a></li>
      </ul>
    </div>
  </div>
</footer>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

  /*---Color Definition---*/
  :root {
    --textColor: #ddd;
    --backGroundColor: #000;
    --gridBackColor: #222;
    --footerH4: #14a;
    --footerContentColor: #bbb;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboot', sans-serif;
    text-decoration: none;
    background-color: var(--backGroundColor);
  }

  .mgl-10 {
    margin-left: 10px;
  }

  .firstText {
    margin-top: 1500px;
  }

  .fadein {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1s;
  }

  .fadein.active {
    opacity: 1;
    transform: translate(0, 0);
  }

  .scroll-image {
    position: absolute;
    /*    top: calc(50% - 300px);
    left: 50%;
    transform: translateX(-50%);*/
    width: 100%;
    height: auto;
  }

  h1 {
    color: white;
    margin: 0;
  }

  nav {
    width: 100%;
    height: 48px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav ul li {
    margin: 0 40px;
  }

  nav ul li a {
    font-weight: 300;
    color: #adadad;
    transition: 600ms;
  }

  nav ul li a:hover {
    color: #f5f5f7;
  }

  .headerLogo {
    width: 40px;
    height: 40px;
  }

  p {
    background-color: rgba(0, 0, 0, 0);
    color: var(--textColor);
  }

  /*--- section welcome ---*/
  .welcome {
    width: 100%;
    height: 800px;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: baseline;
  }

  /*    .welcome h1 {
        color: #666;
        font-weight: 500;
        font-size: 80px;
        position: absolute;
        bottom: 30px;
        right: 10px;
    }

    .welcome h2 {
        color: var(--textColor);
        font-weight: 100;
        font-size: 30px;
        position: absolute;
        bottom: 0;
        right: 30px;
    }*/

  /*--- section product ---*/
  .researchBackGround {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    cursor: pointer;
  }

  .researchBackGround h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--textColor);
  }

  .researchTheme {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    cursor: pointer;
  }

  .researchTheme h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--textColor);
  }

  .researchDetails {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    cursor: pointer;
  }

  .researchDetails h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--textColor);
  }

  .container {
    width: 1070px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }

  .gridText {
    background-color: rgba(0, 0, 0, 0);
    /*    color: blue;*/
  }

  .grid-product {
    background: var(--gridBackColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  /*    .grid-product:hover {
        background: #e1e1e1;
    }*/

  .grid-product img {
    width: 300px;
  }

  .grid-detail {
    margin: 20px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
  }

  .grid-detail p:last-child {
    transition: 0.5s;
    margin-top: 10px;
  }

  /*.grid-product:hover > .grid-detail p:last-child {
    color: #3498db;
}*/
  /*-------*/
  .grid-full {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .grid-product-full {
    background: #f1f1f1;
    grid-column: span 3;
    display: flex;
    position: relative;
  }

  .grid-detail-sum {
    position: absolute;
    bottom: 0%;
    left: 12%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .grid-detail-sum h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  .grid-detail-sum p {
    margin: 20px 0;
  }

  .grid-detail-sum a {
    color: #3498db;
  }

  .grid-detail-sum a:hover {
    text-decoration: underline;
  }
  /*--- footer ---*/
  footer {
    width: 100%;
    height: 400px;
    background: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-main {
    width: 1000px;
    background-color: rgba(0, 0, 0, 0);
  }

  .footer-welcome {
    display: flex;
    margin: 20px 0;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--textColor);
  }

  .footer-welcome i {
    margin-right: 10px;
  }

  .footer-ul {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
  }

  .footer-ul ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
  }

  .footer-ul ul li {
    margin: 7px 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .footer-ul ul li h4 {
    background-color: rgba(0, 0, 0, 0);
    color: var(--footerH4);
    font-size: 0.9rem;
  }

  .footer-ul ul li a {
    background-color: rgba(0, 0, 0, 0);
    color: var(--footerContentColor);
    font-size: 0.7rem;
  }

  .footer-ul ul li a:hover {
    text-decoration: underline;
  }

  #mt {
    padding-top: 30px;
  }
</style>
<!-- ライブラリ読み込み -->
<script
  is:inline
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
></script>
<!-- jsファイル読み込み -->
<script is:inline type="text/javascript" src="/aviation/aviation.js"></script>
