---
// images
import { Image } from 'astro:assets';
import SlideLayout from '@layouts/slide_layout.astro';
import ghost from './Images/_ghost.png';
---

<SlideLayout>
  <div class="slide-content">
    <div class="textArea" style="margin-top: max(10px, 1vw); display: flex;">
      <div class="text first" style="opacity: 1; width: 100%">
        <div class="ml-6" style="font-size: max(40px, 3.2vw);">おっと</div>
        <div
          class="white"
          style="font-size: max(56px, 5vw); display: flex; justify-content: center;"
        >
          「直感に反するインターフェース」
        </div>
        <div
          class="mr-6"
          style="font-size: max(40px, 3.2vw); text-align: right;"
        >
          が現れた！！
        </div>
      </div>
    </div>
    <div class="buttonArea" style="opacity: 0;">
      <button
        id="fight"
        style="
            top: 85%;
            left: 28%;
            transform: translate(-50%, -50%);
            width: max(375px, 32vw);
            height: max(50px, 5vw);

            "
        >たたかう</button
      >
      <button
        id="escape"
        style="
            top: 85%;
            left: 73%;
            transform: translate(-50%, -50%);
            width: max(375px, 32vw);
            height: max(50px, 5vw);

            "
        >にげる</button
      >
    </div>
    <Image
      src={ghost}
      alt="ghost"
      class="ghost"
      style="width: max(300px, 30vw); transform: translate(-50%, -50%); opacity: 0; position: absolute; top: 50%; left: 50%; transition: opacity 1s;"
    />
  </div>
  <script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
      const textFirst = document.querySelector('.first');
      const ghost = document.querySelector('.ghost');
      const buttonArea = document.querySelector('.buttonArea');

      // 画面の要素を時間差で登場させる
      setTimeout(() => {
        textFirst.style.transition = 'opacity 1s ease-in-out';
        ghost.style.transition = 'opacity 1s ease-in-out';
        textFirst.style.opacity = 1;
        ghost.style.opacity = 1;
      }, 1000);

      setTimeout(() => {
        buttonArea.style.transition = 'opacity 1s ease-in-out';
        buttonArea.style.opacity = 1;
      }, 3000);

      // ボタンが押されたら画面遷移
      const fightButton = document.getElementById('fight');
      fightButton.addEventListener('click', () => {
        const nextPageUrl = '../slide12/index.html';

        // 次のページを読み込む
        window.fetch(nextPageUrl).then((response) => {
          // 読み込みが完了したら画面遷移を行う
          window.location.href = nextPageUrl;
        });
      });

      // ボタンが押されたら画面遷移
      const escapeButton = document.getElementById('escape');
      escapeButton.addEventListener('click', () => {
        const nextPageUrl = '../slide10/index.html';

        // 次のページを読み込む
        window.fetch(nextPageUrl).then((response) => {
          // 読み込みが完了したら画面遷移を行う
          window.location.href = nextPageUrl;
        });
      });
    });
  </script>
</SlideLayout>
