---
import SlideLayout from '@layouts/slide_layout.astro';
---

<SlideLayout>
  <div class="slide-content">
    <div
      class="textArea flex justify-center"
      style="margin-top: max(150px, 16vw); display: flex; flex-direction: column; align-items: center; font-size: max(30px, 3vw);"
    >
      <div class="text first" style="opacity: 0;">
        あまりにも使いにくくて、イライラするかもしれません
      </div>
      <div class="text second" style="margin-top: 10vw; opacity: 0;">
        それでも入りますか？
      </div>
    </div>

    <div class="buttonArea" style="opacity: 0;">
      <button
        id="yes"
        style="
            top: 85%;
            left: 30%;
            transform: translate(-50%, -50%);
            width: max(450px, 40vw);
            height: max(50px, 5vw);
            
            "
        >YES</button
      >
      <button
        id="no"
        style="
            top: 85%;
            left: 75%;
            transform: translate(-50%, -50%);
            width: max(300px, 30vw);
            height: max(50px, 5vw);
            
            "
        >NO</button
      >
    </div>
  </div>
  <script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
      const textFirst = document.querySelector('.first');
      const textSecond = document.querySelector('.second');
      const buttonArea = document.querySelector('.buttonArea');

      // 画面の要素を時間差で登場させる
      setTimeout(() => {
        textFirst.style.transition = 'opacity 2s ease-in-out';
        textFirst.style.opacity = 1;
      }, 1000);

      setTimeout(() => {
        textSecond.style.transition = 'opacity 2s ease-in-out';
        textSecond.style.opacity = 1;
      }, 4000);

      setTimeout(() => {
        buttonArea.style.transition = 'opacity 1s ease-in-out';
        buttonArea.style.opacity = 1;
      }, 6000);

      // ボタンが押されたら画面遷移
      const yesButton = document.getElementById('yes');
      yesButton.addEventListener('click', () => {
        const nextPageUrl = '../slide3/index.html';

        // 次のページを読み込む
        window.fetch(nextPageUrl).then((response) => {
          // 読み込みが完了したら画面遷移を行う
          window.location.href = nextPageUrl;
        });
      });

      // ボタンが押されたら画面遷移
      const noButton = document.getElementById('no');
      noButton.addEventListener('click', () => {
        const nextPageUrl = '../slide7/index.html';

        // 次のページを読み込む
        window.fetch(nextPageUrl).then((response) => {
          // 読み込みが完了したら画面遷移を行う
          window.location.href = nextPageUrl;
        });
      });
    });
  </script>
</SlideLayout>
