---
import SlideLayout from '@layouts/slide_layout.astro';
---

<SlideLayout>
  <div class="slide-content flex items-center justify-center">
    <div class="textArea" style="text-align: center;">
      <div class="text first" style="font-size: max(40px, 3.6vw); opacity: 1;">
        あ、それから・・・
      </div>
    </div>
  </div>

  <script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
      const textFirst = document.querySelector('.first');

      // 画面の要素を時間差で登場させる
      setTimeout(() => {
        textFirst.style.transition = 'opacity 1s ease-in-out';
        textFirst.style.opacity = 1;
      }, 1000);

      setTimeout(() => {
        textFirst.style.opacity = 0;
      }, 3000);

      setTimeout(() => {
        const nextPageUrl = '../slide32/index.html';

        // 次のページを読み込む
        window.fetch(nextPageUrl).then((response) => {
          // 読み込みが完了したら画面遷移を行う
          window.location.href = nextPageUrl;
        });
      }, 4000);
    });
  </script>
</SlideLayout>
