---
//Images
import { Image } from 'astro:assets';
import SlideLayout from '@layouts/slide_layout.astro';
import driving_sim from './Images/_driving_sim.jpg';
import flight_sim from './Images/_flight_sim.jpg';
import ghost_teacher from './Images/_ghost_teacher.png';
---

<SlideLayout>
  <div class="slide-content">
    <div
      class="textArea"
      style="padding-left: 30vw; margin-top: 4vw; font-size: max(24px, 2vw); opacity: 0;"
    >
      <div class="text white" style="display: block; margin-top: 0;">
        <div>高橋・狩川研究室の研究テーマの1つは</div>
        <div>「ヒューマンインターフェース」です</div>
      </div>
      <div class="text white" style="display: block; margin-top: 20px;">
        <div>航空分野などを対象に、ユーザーのミスを防ぎ</div>
        <div>ユーザーを支援するインターフェースの研究を行っています</div>
      </div>
    </div>

    <Image
      src={ghost_teacher}
      alt="ghost"
      class="ghost"
      style="width: max(180px, 16vw); transform: translate(-50%, -50%); opacity: 0; position: absolute; top: 10vw; left: 15%; transition: opacity 1s, width 1s, transform 1s;"
    />
    <div
      class="imageArea"
      style="font-size: max(20px, 1.8vw); margin-top: 3vw; display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; opacity: 0;"
    >
      <div style="text-align: center; margin: 0 auto;">
        <Image
          src={driving_sim}
          alt="driving simlator"
          style="width: max(340px, 34vw);"
        />
        <div class="white">ドライブシミュレーター</div>
      </div>
      <div style="text-align: center; margin: 0 auto;">
        <Image
          src={flight_sim}
          alt="flight simlator"
          style="width: max(340px, 34vw);"
        />
        <div class="white">航空管制シミュレーター</div>
      </div>
    </div>
    <div class="buttonArea" style="opacity: 0;">
      <button
        id="next"
        style="
            top: 93%;
            left: 80%;
            transform: translate(-50%, -50%);
            width: max(300px, 30vw);
            height: max(40px, 4vw);

            "
        >Next →</button
      >
    </div>
  </div>
  <script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
      const text = document.querySelector('.textArea');
      const ghost = document.querySelector('.ghost');
      const image = document.querySelector('.imageArea');
      const button = document.querySelector('.buttonArea');

      setTimeout(() => {
        text.style.transition = 'opacity 2s ease-in-out';
        image.style.transition = 'opacity 2s ease-in-out';
        ghost.style.transition = 'opacity 2s ease-in-out';
        text.style.opacity = 1;
        image.style.opacity = 1;
        ghost.style.opacity = 1;
      }, 500);

      setTimeout(() => {
        button.style.transition = 'opacity 2s ease-in-out';
        button.style.opacity = 1;
      }, 6000);

      // ボタンが押されたら画面遷移
      const nextButton = document.getElementById('next');
      nextButton.addEventListener('click', () => {
        const nextPageUrl = '../slide34/index.html';

        // 次のページを読み込む
        window.fetch(nextPageUrl).then((response) => {
          // 読み込みが完了したら画面遷移を行う
          window.location.href = nextPageUrl;
        });
      });
    });
  </script>
</SlideLayout>
