---
import SlideLayout from '@layouts/slide_layout.astro';
---

<SlideLayout>
  <div class="slide-content">
    <div
      class="text firstText justify-center"
      style="display: flex; margin-top: 10vw;"
    >
      <dev style="font-size: max(40px, 3.6vw);">
        <div>使いにくい</div>
        <div>ヒューマンインターフェースの</div>
      </dev>
      <div>
        <span style="font-size: max(200px, 18vw); margin-left: 10px;">館</span>
      </div>
    </div>
    <button
      id="start"
      style="
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max(400px, 36vw);
            height: max(50px, 5vw);
        "
      >START</button
    >
  </div>
  <script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
      const button = document.getElementById('start');
      button.addEventListener('click', () => {
        const nextPageUrl = './slides/slide1/index.html';

        // 次のページを読み込む
        window.fetch(nextPageUrl).then((response) => {
          // 読み込みが完了したら画面遷移を行う
          window.location.href = nextPageUrl;
        });
      });
    });
  </script>
</SlideLayout>
