<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最恐！使いにくいヒューマンインターフェースの館</title>
    <meta name="description"
        content="高橋狩川研究室ではヒューマンインターフェースについて研究を行っています。ここでは使いにくいインターフェースをあえて体験していただくことで、研究内容に関して少しでも興味を持っていただけたら幸いです。">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <style>
        body.loading {
            background-color: black;
        }
    </style>
</head>

<body>

    <div class="slide-content">
        <div class="text firstText" style="
                transform: translate(10%, 30%);
                display: flex;">
            <span style="font-size: 40px; width: 560px;">使いにくい<br>ヒューマンインターフェースの</span>
            <span style="font-size: 200px; margin-left: 10px;">館</span>
        </div>
        <button id="start" style="
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 50px;
        ">START</button>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const button = document.getElementById('start');
            button.addEventListener('click', () => {
                const nextPageUrl = './slides/slide1.html';

                // 次のページを読み込む
                window.fetch(nextPageUrl).then((response) => {
                    // 読み込みが完了したら画面遷移を行う
                    window.location.href = nextPageUrl;
                });
            });
        });
    </script>
</body>

</html>