---
import { date, map } from 'astro/zod'
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog_posts = await getCollection('blog')
const recent_posts = blog_posts
  .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date))
  .slice(0, 3)
---

<Layout title="研究室のようす">
  <section>
    <div>
      <!-- コンテント -->
      <div class="">
        <!-- 題名とリード -->
        <div class="mb-12 space-y-2 text-center">
          <h1 class="text-3xl font-bold text-gray-800 md:text-4xl">
            研究室のようす
          </h1>
          <p class="text-gray-600 lg:mx-auto lg:w-6/12">
            最近の高橋・狩川研究室の中をのぞいてみましょう。
          </p>
        </div>
        <!-- 題名とリードここまで -->
        <!-- ここからブログ投稿のカード -->
        <div class="mx-auto text-center">
          <h2 class="py-12 text-2xl font-bold">最近の投稿</h2>
        </div>
        <div class="grid grid-cols-1 place-items-center gap-6 lg:grid-cols-3">
          {
            recent_posts.map((recent_post) => (
              <a href={'/blog/' + recent_post.slug}>
                <div class="card bg-base-100 h-96 w-80 shadow-xl">
                  <figure class="max-h-72">
                    <img
                      src={
                        recent_post.data.coverImagePath ?? '/lego-unsplash.jpg'
                      }
                      alt="blog cover image"
                    />
                  </figure>
                  <div class="card-body">
                    <p class="text-sm font-light text-gray-500">
                      {new Date(
                        Date.parse(recent_post.data.date)
                      ).toLocaleDateString()}
                    </p>
                    <h2 class="card-title">{recent_post.data.title}</h2>
                    <div class="card-actions justify-end">
                      {recent_post.data.tag.map((tag) => (
                        <div class="badge-outline badge">{tag}</div>
                      ))}
                    </div>
                  </div>
                </div>
              </a>
            ))
          }
        </div>
        <!-- ここまでブログ投稿のカード -->
      </div>
      <!-- コンテントここまで -->
    </div>

    <!-- 詳細へ -->
    <div class="mt-10">
      <div class="justify-center">
        <a href="/blog/all" class="">
          <div class="btn-primary btn-block btn-lg btn m-4 mx-auto">
            <div class="">
              <p class="text-lg font-bold">もっと見る</p>
              <p class="text-sm font-light text-gray-200">
                全投稿を見ることができます
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- 詳細へここまで -->
  </section>
</Layout>
