---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="研究">
  <h1>研究紹介</h1>
  <a href="research/team-aviation">航空グループ</a>
  <a href="research/team-cognitive">認知グループ</a>
  <a href="research/team-gpai">GPAIグループ</a>
</Layout>
