---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="研究">
  <!-- hero - start -->
  <section>
    <div class="bg-white py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <!-- text - start -->
        <div class="mb-10 md:mb-16">
          <h2
            class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"
          >
            研究紹介
          </h2>

          <p
            class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg"
          >
            様々な分野において研究を行っています。研究グループに分かれてそれぞれ行っています。
          </p>
        </div>
        <!-- text - end -->

        <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
          <!-- image - start -->
          <a
            href="#"
            class="group relative flex h-48 items-end justify-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-96"
          >
            <img
              src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?auto=format&q=75&fit=crop&w=600"
              loading="lazy"
              alt="Photo by Minh Pham"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <span
              class="relative mr-3 mb-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-xs text-gray-200 backdrop-blur md:px-3 md:text-sm"
              >VR</span
            >
          </a>
          <!-- image - end -->

          <!-- image - start -->
          <a
            href="#"
            class="group relative flex h-48 items-end justify-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-96"
          >
            <img
              src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?auto=format&q=75&fit=crop&w=600"
              loading="lazy"
              alt="Photo by Lorenzo Herrera"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <span
              class="relative mr-3 mb-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-xs text-gray-200 backdrop-blur md:px-3 md:text-sm"
              >Retro</span
            >
          </a>
          <!-- image - end -->

          <!-- image - start -->
          <a
            href="#"
            class="group relative flex h-48 items-end justify-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-96"
          >
            <img
              src="https://images.unsplash.com/photo-1542759564-7ccbb6ac450a?auto=format&q=75&fit=crop&w=600"
              loading="lazy"
              alt="Photo by Magicle"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <span
              class="relative mr-3 mb-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-xs text-gray-200 backdrop-blur md:px-3 md:text-sm"
              >Tech</span
            >
          </a>
          <!-- image - end -->
        </div>
      </div>
    </div>
  </section>
  <!-- hero - end -->

  <section class="pt-24">
    <h1 class="text-center text-3xl font-bold">研究例</h1>
    <!-- 研究例１ -->
    <div class="py-24">
      <!-- hero start -->
      <div class="max-h-96 rounded-lg bg-gray-200 md:flex">
        <!-- image - start -->
        <div
          class="md:min-h-56 h-64 overflow-hidden rounded-l-lg bg-gray-50 shadow-lg md:h-auto md:w-auto md:max-w-md lg:max-h-full lg:w-1/2 lg:rounded-l-none lg:rounded-r-lg"
        >
          <img
            src="/lego-unsplash.jpg"
            loading="lazy"
            alt="研究の様子の写真"
            class="h-full w-full transform object-cover object-center"
          />
        </div>
        <!-- image - end -->
        <div class="max-h-full w-1/2">
          <!-- text - start -->
          <div
            class="mx-auto max-h-full max-w-screen-2xl overflow-hidden px-4 md:px-8"
          >
            <div class="">
              <div class="flex items-end py-4">
                <h2
                  class="text-left text-2xl font-bold text-gray-800 lg:text-3xl"
                >
                  〇〇の研究
                </h2>
                <p class="px-6 align-text-bottom text-base text-gray-600">
                  航空グループ
                </p>
              </div>

              <p
                class="mx-auto max-h-full max-w-screen-md text-left text-gray-800 md:text-lg"
              >
                ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。
                ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。
              </p>
            </div>
          </div>
          <!-- text - end -->
        </div>
      </div>
    </div>
  </section>
</Layout>
