---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="研究">
  <!-- hero - start -->
  <section>
    <div class="bg-white py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <!-- text - start -->
        <div class="mb-10 md:mb-16">
          <h2
            class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"
          >
            研究紹介
          </h2>

          <p
            class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg"
          >
            様々な分野において研究を行っています。研究グループに分かれてそれぞれ行っています。
          </p>
        </div>
        <!-- text - end -->

        <div class="grid grid-cols-2 gap-4 md:gap-6 lg:grid-cols-4 xl:gap-8">
          <!-- image - start -->
          <a
            href="/research/aviation/index.html"
            class="group relative flex h-48 items-end justify-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-96"
          >
            <img
              src="/cockpit-unsplash.jpg"
              loading="lazy"
              alt="コックピットの写真 Photo from unsplash"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <span
              class="relative mb-3 mr-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-lg text-gray-200 backdrop-blur md:px-3"
              >航空システムの安全性向上</span
            >
          </a>
          <!-- image - end -->

          <!-- image - start -->
          <a
            href="/research/team-ai/index.html"
            class="group relative flex h-48 items-end justify-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-96"
          >
            <img
              src="/car-unsplash.jpg"
              loading="lazy"
              alt="自動車の運転席 Photo from unsplash"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <span
              class="relative mb-3 mr-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-lg text-gray-200 backdrop-blur md:px-3"
              >高度自動化システムと人間の協調</span
            >
          </a>
          <!-- image - end -->

          <!-- image - start -->
          <a
            href="/research/team-risk/index.html"
            class="group relative flex h-48 items-end justify-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-96"
          >
            <img
              src="/risk-unsplash.jpg"
              loading="lazy"
              alt="原子力発電所の写真 Photo from unsplash"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <span
              class="relative mb-3 mr-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-lg text-gray-200 backdrop-blur md:px-3"
              >原子力発電に関する主観的論理構造の分析</span
            >
          </a>
          <!-- image - end -->
          <!-- image - start -->
          <a
            href="/research/team-risk/index.html"
            class="group relative flex h-48 items-end justify-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-96"
          >
            <img
              src="/balloon-unsplash.jpg"
              loading="lazy"
              alt="風船の写真 Photo from unsplash"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <span
              class="relative mb-3 mr-3 inline-block rounded-lg border border-gray-500 px-2 py-1 text-lg text-gray-200 backdrop-blur md:px-3"
              >安全性向上のための危険感受性・敢行性に関する研究</span
            >
          </a>
          <!-- image - end -->
        </div>
      </div>
    </div>
  </section>
  <!-- hero - end -->

  <section class="hidden py-24">
    <h1 class="text-center text-3xl font-bold">研究例</h1>
    <!-- 研究例１ -->
    <div class="px-4 py-6">
      <!-- hero start -->
      <div class="rounded-lg bg-gray-200 md:flex">
        <!-- image - start -->
        <div
          class="md:min-h-56 h-64 overflow-hidden rounded-l-lg bg-gray-50 shadow-lg md:h-auto md:w-auto md:max-w-md lg:max-h-full lg:w-1/2 lg:rounded-l-none lg:rounded-r-lg"
        >
          <img
            src="/lego-unsplash.jpg"
            loading="lazy"
            alt="研究の様子の写真"
            class="h-full w-full transform object-cover object-center"
          />
        </div>
        <!-- image - end -->
        <div class="max-h-full md:w-1/2">
          <!-- text - start -->
          <div class="mx-auto max-h-full overflow-hidden px-4 md:px-8">
            <div class="">
              <div class="flex items-end py-4">
                <h2
                  class="text-left text-2xl font-bold text-gray-800 lg:text-3xl"
                >
                  〇〇の研究
                </h2>
                <p class="px-6 align-text-bottom text-base text-gray-600">
                  航空グループ
                </p>
              </div>

              <p class="mx-auto max-h-full text-left text-gray-800">
                ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。
                ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。
              </p>
            </div>
          </div>
          <!-- text - end -->
        </div>
      </div>
    </div>
    <!-- 研究例終わり -->
    <!-- 研究例１ -->
    <div class="py-6">
      <!-- hero start -->
      <div class="rounded-lg bg-gray-200 md:flex">
        <!-- image - start -->
        <div
          class="md:min-h-56 h-64 overflow-hidden rounded-l-lg bg-gray-50 shadow-lg md:h-auto md:w-auto md:max-w-md lg:max-h-full lg:w-1/2 lg:rounded-l-none lg:rounded-r-lg"
        >
          <img
            src="/lego-unsplash.jpg"
            loading="lazy"
            alt="研究の様子の写真"
            class="h-full max-h-80 w-full transform object-cover object-center"
          />
        </div>
        <!-- image - end -->
        <div class="max-h-full w-1/2">
          <!-- text - start -->
          <div
            class="mx-auto max-h-full max-w-screen-2xl overflow-hidden px-4 md:px-8"
          >
            <div class="">
              <div class="flex items-end py-4">
                <h2
                  class="text-left text-2xl font-bold text-gray-800 lg:text-3xl"
                >
                  〇〇の研究
                </h2>
                <p class="px-6 align-text-bottom text-base text-gray-600">
                  航空グループ
                </p>
              </div>

              <p class="mx-auto max-h-full text-left text-gray-800">
                ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。
                ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。ここに研究の紹介文を書きます。
              </p>
            </div>
          </div>
          <!-- text - end -->
        </div>
      </div>
    </div>
    <!-- 研究例終わり -->
  </section>
</Layout>
