---
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'

//  import simulator1 from './team-ai-simulator-1.png'
---

<Layout title="AIグループ">
  <div class="container mx-auto">
  <section class="my-6">
    <div class="w-full">
      <h1 class="w-full text-center text-3xl">AIグループ</h1>
      <p class="w-full text-center text-base">
        人間の行動や心理を理解し、人間と機械のミスマッチを防ぐための研究を行っています。
      </p>
    </div>
  </section>
  <section class="my-6">
    <article class="mx-4">
      <div class="my-8">
        <p>
          自動運転や航空機などの社会技術システムにおいて、安全性向上のために自動化が進められています。しかし、自動化システムの導入によって人間と機械のミスマッチが起こり、事故が発生することがあります。このような事故を防ぐためには、機械が人間の状態を推定し、その状態に応じて適切な支援を行うことが必要です。
          そのため、本研究では人間の信頼性を低下させる要因であるフラストレーションに着目して、フラストレーション状態の推定を目指しています。具体的には、ドライビングシミュレータを使って生体指標や行動指標など多面的な情報を収集し、収集したデータを基に機械学習を用いてフラストレーションの推定を行っています。
        </p>
      </div>
      <div class="flex w-full">
        <div class="static h-[300px] w-1/3">
          <!-- <Image
            src={simulator1}
            alt="ドライビングシミュレータ"
            class="h-full w-full object-fill"
          /> -->
        </div>
        <div class="static ml-10 h-[300px] w-1/3 bg-slate-300">
          <span class="absolute">No Image</span>
        </div>
      </div>
    </article>
  </section>
  </div>
</Layout>
