---
import Layout from '../../layouts/Layout.astro';

// Images
import { Image } from 'astro:assets';

import { getCollection, getEntryBySlug } from 'astro:content';
const members = await getCollection('member');
const student = members
  .filter((member) => member.data.major !== '')
  .sort((a, b) => {
    return a.data.order - b.data.order;
  });
const staff = members
  .filter((member) => member.data.major === '')
  .sort((a, b) => {
    return a.data.order - b.data.order;
  });

// member card
import MemberCard from '@components/MemberCard.astro';
---

<Layout title="メンバー">
  <div class="container mx-auto mb-8">
    <h1 class="my-10 text-3xl font-extrabold">メンバー紹介</h1>
    <!-- スタッフ -->
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 place-items-center gap-y-10 md:grid-cols-2 xl:grid-cols-3"
    >
      {staff.map((staff) => <MemberCard member={staff} />)}
    </div>
    <!-- スタッフ終わり -->
    <div class="divider"></div>
    <!-- 学生 -->
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 place-items-center gap-y-10 md:grid-cols-2 xl:grid-cols-3"
    >
      {student.map((student) => <MemberCard member={student} />)}
    </div>
    <!-- 学生終わり -->
  </div>
</Layout>
