---
import Layout from '../../layouts/Layout.astro'
import type { IMemberFrontmatter } from './member'

import { getCollection, getEntryBySlug } from 'astro:content'
const members = await Astro.glob<IMemberFrontmatter>('./member_md/*.md')
---

<Layout title="メンバー">
  <h1 class="my-10 text-3xl font-extrabold">メンバー紹介</h1>
  <div class="container mx-auto">
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 place-items-center gap-y-10 md:grid-cols-2 xl:grid-cols-3"
    >
      {
        members.map((member) => (
          <a href="/">
            <div class="card bg-base-300 w-80 shadow-xl duration-200 hover:scale-105">
              <figure>
                <img
                  src="/pic_aircraft_a350.jpg"
                  alt="Shoes"
                  class="h-64 brightness-90"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title flex align-bottom">
                  {member.frontmatter.name.main}
                  <p class="text-sm font-thin text-gray-600">
                    {member.frontmatter.name.sub}
                  </p>
                </h2>
                <div class="badge-outline badge">
                  {member.frontmatter.major}
                </div>
                <div class="badge-outline badge">
                  {member.frontmatter.grade}
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
