---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="メンバー">
  <h1 class="my-10 text-3xl font-extrabold">メンバー紹介</h1>
  <div class="container mx-auto">
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 place-items-center gap-y-10 md:grid-cols-2 xl:grid-cols-3"
    >
      <a href="/">
        <div
          class="card w-80 bg-base-300 shadow-xl duration-200 hover:scale-105"
        >
          <figure>
            <img src="/pic_aircraft_a350.jpg" alt="Shoes" class="h-64" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              航空　太郎<p class="font-thin text-gray-600">Kouku Taro</p>
            </h2>
            <div class="badge badge-outline">修士課程・３年</div>
          </div>
        </div>
      </a>
      <a href="/">
        <div
          class="card w-80 bg-base-300 shadow-xl duration-200 hover:scale-105"
        >
          <figure>
            <img src="/pic_aircraft_a350.jpg" alt="Shoes" class="h-64" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              航空　太郎<p class="font-thin text-gray-600">Kouku Taro</p>
            </h2>
            <div class="badge badge-outline">修士課程・３年</div>
          </div>
        </div>
      </a>
      <a href="/">
        <div
          class="card w-80 bg-base-300 shadow-xl duration-200 hover:scale-105"
        >
          <figure>
            <img src="/pic_aircraft_a350.jpg" alt="Shoes" class="h-64" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              航空　太郎<p class="font-thin text-gray-600">Kouku Taro</p>
            </h2>
            <div class="badge badge-outline">修士課程・３年</div>
          </div>
        </div>
      </a>
      <a href="/">
        <div
          class="card w-80 bg-base-300 shadow-xl duration-200 hover:scale-105"
        >
          <figure>
            <img src="/pic_aircraft_a350.jpg" alt="Shoes" class="h-64" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              航空　太郎<p class="font-thin text-gray-600">Kouku Taro</p>
            </h2>
            <div class="badge badge-outline">修士課程・３年</div>
          </div>
        </div>
      </a>
      <a href="/">
        <div
          class="card w-80 bg-base-300 shadow-xl duration-200 hover:scale-105"
        >
          <figure>
            <img src="/pic_aircraft_a350.jpg" alt="Shoes" class="h-64" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">
              航空　太郎<p class="font-thin text-gray-600">Kouku Taro</p>
            </h2>
            <div class="badge badge-outline">修士課程・３年</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</Layout>
