---
import Layout from '../layouts/Layout.astro'

interface INewsPostFrontmatter {
  title: string
  tag: Array<string>
}

const news_posts = await Astro.glob<INewsPostFrontmatter>('./news/*.md')
---

<Layout title="Hello">
  <main class="container mx-auto">
    <!-- 研究概要 -->
    <section>
      <div class="relative h-[600px] bg-blue-50">
        <!-- 文字 -->
        <div class="absolute inset-0 grid place-items-center">
          <div class="z-50">
            <h1 class="text-center align-middle text-4xl">高橋・狩川研究室</h1>
          </div>
        </div>
        <!-- 写真 -->
        <div class="absolute inset-0 grid grid-cols-2 place-items-center">
          <div class="relative">
            <img
              src="pic_aircraft_a350.jpg"
              alt="飛行機の写真"
              class="static h-[300px] object-cover"
            />
            <div
              class="absolute bottom-0 mx-auto flex w-full items-center justify-center"
            >
              <button class="glass btn mb-3 text-white">航空グループ</button>
            </div>
          </div>
          <div class="h-[300px]">認知</div>
          <div class="h-[300px]">GPAI</div>
        </div>
      </div>
    </section>

    <!-- 研究室のようす -->
    <section class="mt-8">
      <h1 class="mb-4 text-3xl">研究室紹介</h1>
      <div
        class="grid grid-cols-1 place-items-center gap-4 md:grid-cols-2 xl:grid-cols-3 xl:gap-y-96"
      >
        <div class="card-compact card w-96 rounded-xl bg-base-100 shadow-xl">
          <figure>
            <img src="/pic_aircraft_a350.jpg" alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">研究紹介</h2>
            <p>研究内容について</p>
          </div>
        </div>
        <div class="card-compact card w-96 rounded-xl bg-base-100 shadow-xl">
          <figure>
            <img src="/pic_aircraft_a350.jpg" alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">研究紹介</h2>
            <p>研究内容について</p>
          </div>
        </div>
        <div class="card-compact card w-96 rounded-xl bg-base-100 shadow-xl">
          <figure>
            <img src="/pic_aircraft_a350.jpg" alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">研究紹介</h2>
            <p>研究内容について</p>
          </div>
        </div>
      </div>
    </section>

    <!-- ニュース -->
    <section class="mt-8">
      <div class="w-full overflow-x-auto">
        <table class="table w-full">
          <!-- head -->
          <thead>
            <tr>
              <th>
                <label> index</label>
              </th>
              <th>title</th>
              <th>tag</th>
            </tr>
          </thead>
          <tbody>
            <!-- row -->
            {
              news_posts.map((news_post) => (
                <tr>
                  <th> {news_posts.indexOf(news_post) + 1} </th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                          <img
                            src="/pic_aircraft_a350.jpg"
                            alt="Avatar News Component"
                          />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">
                          {news_post.frontmatter.title}
                        </div>
                        <div class="text-sm opacity-50">
                          {news_post.frontmatter.tag.map((tag) => (
                            <div class="badge-secondary badge-outline badge mr-3">
                              {tag}
                            </div>
                          ))}
                        </div>
                      </div>
                    </div>
                  </td>
                  <th>
                    <a href={news_post.url}>
                      <button class="btn-xs btn">詳細</button>
                    </a>
                  </th>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </section>

    <!-- お問い合わせ -->
    <section class="mt-8">
      <h1 class="text-3xl">コンタクト</h1>
      <div></div>
    </section>
  </main>
</Layout>
