---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const news_posts = await getCollection('blog', ({ data }) => {
  return data.tag.includes('news')
})
---

<Layout title="高橋・狩川研究室HP">
  <main class="container mx-auto">
    <!-- ランディング -->
    <section class="">
      <div class="">
        <div class="">
          <div class="mx-auto h-full w-full backdrop-blur-xl">
            <p class="text-center text-3xl font-extrabold">
              社会技術システムの安全性向上を目指して研究を行っています
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- ランディング終わり -->
  <!-- 研究概要 -->
  <section class="mb-4">
    <div class="bg-white py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="grid sm:grid-cols-2">
          <!-- product - start -->
          <a
            href="#"
            class="group relative flex h-80 items-end overflow-hidden bg-gray-100 p-4"
          >
            <img
              src="cockpit-unsplash.jpg"
              loading="lazy"
              alt="Cockpit Photo From Unsplash"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <div class="relative flex flex-col">
              <span class="text-gray-300">Group 01</span>
              <span class="text-lg font-semibold text-white lg:text-xl"
                >航空</span
              >
            </div>
          </a>
          <!-- product - end -->

          <!-- product - start -->
          <a
            href="#"
            class="group relative flex h-80 items-end overflow-hidden bg-gray-100 p-4"
          >
            <img
              src="https://images.unsplash.com/photo-1620241608701-94ef138c7ec9?auto=format&q=75&fit=crop&w=750"
              loading="lazy"
              alt="Photo by Fakurian Design"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <div class="relative flex flex-col">
              <span class="text-gray-300">Modern</span>
              <span class="text-lg font-semibold text-white lg:text-xl"
                >Furniture</span
              >
            </div>
          </a>
          <!-- product - end -->

          <!-- product - start -->
          <a
            href="#"
            class="group relative flex h-80 items-end overflow-hidden bg-gray-100 p-4"
          >
            <img
              src="https://images.unsplash.com/photo-1620241608701-94ef138c7ec9?auto=format&q=75&fit=crop&w=750"
              loading="lazy"
              alt="Photo by Fakurian Design"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <div class="relative flex flex-col">
              <span class="text-gray-300">Modern</span>
              <span class="text-lg font-semibold text-white lg:text-xl"
                >Furniture</span
              >
            </div>
          </a>
          <!-- product - end -->

          <!-- product - start -->
          <a
            href="#"
            class="group relative flex h-80 items-end overflow-hidden bg-gray-100 p-4"
          >
            <img
              src="https://images.unsplash.com/photo-1620241608701-94ef138c7ec9?auto=format&q=75&fit=crop&w=750"
              loading="lazy"
              alt="Photo by Fakurian Design"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110"
            />

            <div
              class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"
            >
            </div>

            <div class="relative flex flex-col">
              <span class="text-gray-300">Modern</span>
              <span class="text-lg font-semibold text-white lg:text-xl"
                >Furniture</span
              >
            </div>
          </a>
          <!-- product - end -->
        </div>
      </div>
    </div>
  </section>
  <!-- 研究室のようす -->
  <section class="mt-12 rounded-sm bg-slate-100 py-10">
    <div class="mx-auto w-full p-10 text-center">
      <h1 class="text-3xl font-bold">研究室紹介</h1>
    </div>
    <div
      class="mx-auto mb-3 grid grid-cols-1 place-items-center gap-4 md:grid-cols-2 xl:grid-cols-3 xl:gap-y-96"
    >
      <div class="card-compact card w-96 rounded-xl bg-base-100 shadow-xl">
        <figure>
          <img src="/pic_aircraft_sample.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">研究紹介</h2>
          <p>研究内容について</p>
        </div>
      </div>
      <div class="card-compact card w-96 rounded-xl bg-base-100 shadow-xl">
        <figure>
          <img src="/pic_aircraft_sample.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">研究紹介</h2>
          <p>研究内容について</p>
        </div>
      </div>
      <div class="card-compact card w-96 rounded-xl bg-base-100 shadow-xl">
        <figure>
          <img src="/pic_aircraft_sample.jpg" alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">研究紹介</h2>
          <p>研究内容について</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ニュース -->
  <section class="mt-4 py-10">
    <div class="mx-auto py-10 text-center">
      <h1 class="text-3xl font-bold">新着ニュース</h1>
    </div>
    <div class="mx-auto w-5/6">
      <div class="w-full overflow-x-auto">
        <table class="table w-full">
          <!-- head -->
          <thead>
            <tr>
              <th>
                <label> index</label>
              </th>
              <th>title</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <!-- row -->
            {
              news_posts.map((news_post) => (
                <tr>
                  <th> {news_posts.indexOf(news_post) + 1} </th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                          <img
                            src="/pic_aircraft_sample.jpg"
                            alt="Avatar News Component"
                          />
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">{news_post.data.title}</div>
                        <div class="text-sm opacity-90">
                          {news_post.data.tag.map((tag) => (
                            <div class="badge-secondary badge-outline badge mr-3">
                              {tag}
                            </div>
                          ))}
                        </div>
                      </div>
                    </div>
                  </td>
                  <th>
                    <a href={news_post.slug}>
                      <button class="btn-md btn">詳細</button>
                    </a>
                  </th>
                </tr>
              ))
            }
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="container mx-auto w-screen py-4">
      <a href="/blog/news" class="flex justify-center"
        ><div class="btn-primary btn">ニュース一覧</div></a
      >
    </div>
  </section>

  <!-- お問い合わせ -->
  <section class="mt-8 mb-2">
    <div
      class="hero h-1/2"
      style="background-image: url(/pic_aircraft_sample.jpg);"
    >
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">お問い合わせ</h1>
          <p class="mb-5">Google Form よりお問い合わせください！</p>
          <a href="https://forms.gle/vwA58wTFZpv5nXQV8">
            <button class="btn-primary btn"> <h4>お問い合わせ</h4></button>
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
