---
import { Icon } from 'astro-icon'

const footer_links = [
  {
    title: '研究',
    links: [
      {
        title: '研究内容',
        url: '/research'
      },
      {
        title: '研究実績',
        url: '/research/achievements'
      }
    ]
  },
  { title: 'メンバー', links: [{ title: 'メンバー', url: '/members' }] },
  {
    title: '進路',
    links: [
      {
        title: '進学・就職先',
        url: '/alumni'
      }
    ]
  },
  {
    title: 'ニュース',
    links: [
      {
        title: '一覧',
        url: '/blog/news'
      }
    ]
  },
  {
    title: '研究室のようす',
    links: [
      {
        title: '新着情報',
        url: '/blog'
      }
    ]
  }
]
---

<footer>
  <div class="footer mt-14 bg-base-200 p-10 text-base-content">
    {
      footer_links.map((footer_link) => (
        <div class="mt-4">
          <p class="text-lg font-bold">{footer_link.title}</p>
          <ul class="list-none">
            {footer_link.links.map((link) => (
              <li class="mt-2">
                <a href={link.url}>
                  <div class="underline hover:text-indigo-900">
                    {link.title}
                  </div>
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
  <div class="footer footer-center bg-base-200 p-10 text-base-content">
    <div>
      <Icon size={60} name="ic:baseline-airplanemode-active" />
      <p class="font-bold">
        高橋・狩川研究室 <br />東北大学工学研究科
      </p>
      <p>Copyright © 2023 - All right reserved</p>
    </div>
  </div>
</footer>
