---
const footer_links = [
  {
    title: '研究',
    links: [
      {
        title: '研究内容',
        url: '/research/index.html',
      },
      // {
      //   title: '研究実績',
      //   url: '/research/achievements'
      // }
    ],
  },
  {
    title: 'メンバー',
    links: [{ title: 'メンバー', url: '/member/index.html' }],
  },
  {
    title: '進路',
    links: [
      {
        title: '進学・就職先',
        url: '/alumni/index.html',
      },
    ],
  },
  {
    title: 'お知らせ',
    links: [
      {
        title: '記事一覧',
        url: '/blogs/index.html',
      },
      {
        title: 'ニュース一覧',
        url: '/blogs/news/index.html',
      },
      {
        title: '開発履歴',
        url: '/blogs/dev/index.html',
      },
    ],
  },
  {
    title: 'コンタクト',
    links: [
      {
        title: 'アクセス',
        url: '/contact/index.html#access',
      },
      {
        title: 'お問い合わせ',
        url: '/contact/index.html#form',
      },
      {
        title: '配属希望の方へ',
        url: '/blogs/info/how_to_join/index.html',
      },
    ],
  },
];
---

<footer>
  <div class="footer bg-base-200 p-10 text-base-content">
    {
      footer_links.map((footer_link) => (
        <nav class="mt-4">
          <p class="text-lg font-bold">{footer_link.title}</p>
          <ul class="list-none">
            {footer_link.links.map((link) => (
              <li class="mt-2">
                <a href={link.url}>
                  <div class="text-base underline hover:text-indigo-900">
                    {link.title}
                  </div>
                </a>
              </li>
            ))}
          </ul>
        </nav>
      ))
    }
  </div>
  <div class="footer footer-center bg-base-200 p-10 text-base-content">
    <div>
      <img src="/favicon.ico" alt="研究室ロゴ" />
      <p class="font-bold">
        高橋・狩川研究室 <br />東北大学工学研究科<br />
        量子エネルギー工学専攻 原子核システム安全工学講座 <br
          class="md:hidden"
        /> 核エネルギーシステム安全工学分野 <br />
        技術社会システム専攻 ソーシャルシステムデザイン講座 <br
          class="md:hidden"
        /> 社会システムデザイン分野
      </p>
      <p>Copyright © 高橋・狩川研究室 2024 - All right reserved</p>
    </div>
  </div>
</footer>
