---
import { Icon } from 'astro-icon'
---

<footer class="footer mt-14 bg-base-200 p-10 text-base-content">
  <div>
    <Icon size={60} name="ic:baseline-airplanemode-active" />
    <p>高橋・狩川研究室<br />東北大学工学研究科</p>
  </div>
  <div>
    <span class="footer-title">研究</span>
    <a class="link-hover link">ほげ</a>
  </div>
  <div>
    <span class="footer-title">ニュース</span>
    <a class="link-hover link">一覧</a>
  </div>
  <div>
    <span class="footer-title">研究室のようす</span>
    <a href="/blog" class="link-hover link">研究室のようす</a>
  </div>
</footer>
