<div
      class="hero h-1/2"
      style="background-image: url(/pic_aircraft_sample.jpg);"
    >
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md py-8">
          <h1 class="mb-3 p-4 text-5xl font-bold">お問い合わせ</h1>
          <p class="mb-5">Google Form よりお問い合わせください！</p>
          <a href="https://forms.gle/vwA58wTFZpv5nXQV8">
            <button class="btn-primary btn"> <h4>お問い合わせ</h4></button>
          </a>
        </div>
      </div>
</div>