<div class="hero h-1/2" class="bg-indigo-900">
  <div class="hero-overlay bg-opacity-90"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md py-8">
      <h1 class="mb-3 p-4 text-5xl font-bold text-white">お問い合わせ</h1>
      <p class="mb-5 text-base text-white">
        Google Form よりお問い合わせください！
      </p>
      <!-- The button to open modal -->
      <label
        for="my_modal_6"
        class="btn btn-primary text-xl text-primary-content">お問い合わせ</label
      >
    </div>
  </div>
</div>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my_modal_6" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">サイトを離れますか？</h3>
    <p class="py-4">外部サイト（Google Form）へ移動します。</p>

    <div class="modal-action">
      <label for="my_modal_6" class="btn btn-ghost">留まる</label>
      <a href="https://forms.gle/vwA58wTFZpv5nXQV8">
        <button class="btn btn-primary"><h4>離れる</h4></button>
      </a>
    </div>
  </div>
</div>
