---
import { Icon } from 'astro-icon'

const nav_links = [
  {
    name: '研究内容',
    url: '/research/index.html'
  },
  {
    name: 'メンバー',
    url: '/member/index.html'
  },
  {
    name: '進路',
    url: '/alumni/index.html'
  },
  {
    name: 'ブログ',
    url: '/blogs/index.html'
  },
  {
    name: 'アクセス',
    url: '/contact/index.html'
  }
]
---

<nav class="bg-blue-200">
  <div class="navbar">
    <div class="navbar-start">
      <div class="mx-auto flex flex-col flex-wrap p-5 align-middle">
        <a
          class="title-font mb-0 flex items-center font-medium text-gray-900"
          href="/"
        >
          <img src="/Logo2020_black.png" class="h-10" alt="ロゴ" />
          <span class="ml-3 text-xl lg:text-3xl">高橋・狩川研究室</span>
        </a>
      </div>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        {
          nav_links.map((link) => (
            <li class="mr-5 text-lg">
              <a href={link.url} class="hover:text-gray-900 hover:underline">
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="navbar-end lg:hidden">
      <div class="dropdown dropdown-end">
        <label tabindex={0} class="btn btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex={0}
          class="menu dropdown-content menu-lg z-[1] mt-6 w-80 rounded-box bg-slate-100 p-4 shadow"
        >
          {
            nav_links.map((link) => (
              <li class="">
                <a href={link.url} class="p-4 text-xl">
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
