---
import { Icon } from 'astro-icon'
---

<nav class="bg-blue-200">
  <div class="navbar">
    <div class="">
      <header class="body-font text-gray-600">
        <div
          class="mx-auto flex flex-col flex-wrap items-center p-5 md:flex-row"
        >
          <a
            class="title-font mb-4 flex items-center font-medium text-gray-900 md:mb-0"
            href="/"
          >
            <img src="/Logo2020_black.png" class="h-10" />
            <span class="ml-3 text-xl">高橋・狩川研究室</span>
          </a>
        </div>
      </header>
    </div>

    <nav
      class="navbar-center hidden flex-wrap items-center justify-center text-base md:ml-4 md:mr-auto md:flex md:border-l md:border-gray-400 md:py-1 md:pl-4"
    >
      <a class="mr-5 hover:text-gray-900 hover:underline" href="/research"
        >研究内容</a
      >
      <a class="mr-5 hover:text-gray-900 hover:underline" href="/member"
        >メンバー</a
      >
      <a class="mr-5 hover:text-gray-900 hover:underline" href="/alumni">進路</a
      >
      <a class="mr-5 hover:text-gray-900 hover:underline" href="/blogs"
        >ブログ</a
      >
      <a class="mr-5 hover:text-gray-900 hover:underline" href="/contact"
        >アクセス</a
      >
    </nav>
  </div>
</nav>
