---
const {title, subTitle, detail, isLeft} = Astro.props
---

<div>
  <li class="group content-item is-right fadein bg-gray-100 w-full my-10 duration-500 lg:hover:-translate-y-2 p-5">
    <div class={`content-itemInner md:flex flex-col md:flex-row justify-center w-full ${isLeft ? 'md:flex-row-reverse' : ''}`}>
      <div class="image-container md:w-1/3 sm:max-w-sm relative content-center overflow-hidden mx-auto">
        <div class="image-containerInner aspect-square relative">
          <slot />
        </div>
      </div>
    
      <div class="content-nameArea md:w-2/3 my-auto text-center md:px-5">
        <div class="content-nameInner">
          <h2 class="content-name text-3xl font-serif my-5">{title}</h2>
        </div>
        <h3 class="content-label text-2xl font-serif text-stone-500">
          {subTitle}
        </h3>
        <hr class="content-line lg:w-0 mx-auto my-2 border-px border-blue-300 duration-500 lg:group-hover:w-full" />
        <p class="content-detailTxt text-md mt-10">
          {detail}          
        </p>
      </div>
    </div>
  </li>
</div>

