---
const { title, subTitle, detail, isLeft } = Astro.props;
---

<div>
  <li
    class="content-item is-right fadein group my-10 w-full bg-gray-100 p-5 duration-500 lg:hover:-translate-y-2"
  >
    <div
      class={`content-itemInner md:flex flex-col md:flex-row justify-center w-full ${isLeft ? 'md:flex-row-reverse' : ''}`}
    >
      <div
        class="image-container relative mx-auto content-center overflow-hidden sm:max-w-sm md:w-1/3"
      >
        <div class="image-containerInner relative aspect-square">
          <slot />
        </div>
      </div>

      <div class="content-nameArea my-auto text-center md:w-2/3 md:px-5">
        <div class="content-nameInner">
          <h2 class="content-name my-5 font-serif text-3xl">{title}</h2>
        </div>
        <h3 class="content-label font-serif text-2xl text-stone-500">
          {subTitle}
        </h3>
        <hr
          class="content-line border-px mx-auto my-2 border-blue-300 duration-500 lg:w-0 lg:group-hover:w-full"
        />
        <p class="content-detailTxt text-md mt-10">
          {detail}
        </p>
      </div>
    </div>
  </li>
</div>
