---
interface link {
  depth: number
  text: string
  slug: string
}
export interface props {
  links: link[]
}
const { links: links } = Astro.props
---

<ul class="steps steps-vertical">
  {
    links == undefined || links.length == 0
      ? ''
      : links.map((link: link) => (
          <li class="step step-primary">
            <a href={'#' + link.slug} class="hover:text-primary">
              {link.text.split('見出し')[0]}
            </a>
          </li>
        ))
  }
</ul>
