---
import { Icon } from 'astro-icon/components';
---

<section class="body-font text-gray-600">
  <div class="container mx-auto px-5 py-24">
    <div class="mx-auto w-full text-center lg:w-3/4 xl:w-1/2">
      <Icon name="mdi:hammer-wrench" class="mb-4 inline-block w-40" />
      <h2 class="title-font text-2xl font-medium tracking-wider text-gray-900">
        このページは現在作成中です
      </h2>
      <span class="mb-6 mt-8 inline-block h-1 w-10 rounded bg-indigo-500"
      ></span>
      <p class="text-lg leading-relaxed">
        とても素晴らしいページにきっとなるでしょう。<br />
        たぶん。きっと。そのはず。。。<br />
        <br />
        いましばらくお待ちください。後でまた来てくれると嬉しいです。
      </p>
      <p class="my-2 text-gray-500">HP管理担当</p>
    </div>
  </div>
</section>
