/* 普通のアラートのデザインを修正する場合には src/layouts/BlogDetail.astro のtailwindを修正してください */

/* ↓↓↓カスタムアラート全体に適用↓↓↓ */
.markdown-alert-custom {
  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  /* border-left: 0.25em solid #888; */
  @apply border-l-4;
}

.markdown-alert-custom > :first-child {
  margin-top: 0;
}

.markdown-alert-custom > :last-child {
  margin-bottom: 0;
}

.markdown-alert-custom .markdown-alert-custom-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-alert-custom .markdown-alert-custom-title .octicon {
  margin-right: 0.5rem;
  overflow: visible !important;
  -webkit-mask: var(--oct-icon) no-repeat;
  mask: var(--oct-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: text-bottom;
  width: 1em;
  height: 1em;
}
/* ↑↑↑カスタムアラート全体に適用↑↑↑ */

/* ↓↓↓MEMO専用のstyle↓↓↓ */
.markdown-alert-custom-memo {
  max-width: 100%; /*最大幅は任意*/
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 6px;
  border-left: none;
  background: #99dddd; /*色は任意*/
  box-sizing: border-box;
  margin: 0 !important;
  line-height: 1.5;
}
.markdown-alert-custom-memo:after {
  content: "";
  position: absolute;
  transform: translateY(-15px);
  border: 10px solid transparent;
  left: -30px;
  border-right: 30px solid #99dddd;
}

.markdown-alert-custom-hint {
  @apply border-yellow-500 bg-yellow-100 text-yellow-500;
}
