---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import BlogPostCard from '@components/BlogPostCard.astro'

// images
import { Image } from 'astro:assets'
import legoUnsplash from './lego-unsplash.jpg'

// 時系列に並べる
const blog_posts = (await getCollection('blog')).sort((a, b) => {
  return Date.parse(b.data.date) - Date.parse(a.data.date)
})
---

<Layout title="ブログ記事一覧">
  <h1 class="my-24 text-center text-3xl font-bold">全ブログ記事</h1>
  <div class="-mb-10 -mt-4 flex flex-wrap sm:-m-4">
    {
      blog_posts.map((blog_post) => (
        <BlogPostCard post={blog_post} />
      ))
    }
  </div>
</Layout>