---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

// 時系列に並べる
const blog_posts = (
  await getCollection('blog', (post) => post.data.tag.includes('blog'))
).sort((a, b) => {
  return Date.parse(b.data.date) - Date.parse(a.data.date)
})
---

<Layout title="ブログ記事一覧">
  <h1 class="my-24 text-center text-3xl font-bold">全ブログ記事</h1>
  <div class="-mb-10 -mt-4 flex flex-wrap sm:-m-4">
    {
      blog_posts.map((posts) => (
        // card
        <div class="mb-6 p-4 sm:mb-0 lg:w-1/3">
          <div class="h-64 overflow-hidden rounded-lg">
            <img
              alt="カバー画像"
              class="h-full w-full object-cover object-center"
              src={posts.data.coverImagePath ?? '/blog/default.jpg'}
            />
          </div>
          <h2 class="title-font mt-5 text-2xl font-medium text-gray-900">
            {posts.data.title}
          </h2>
          <p class="mt-2 text-base leading-relaxed">{posts.data.lead}</p>
          <a
            class="mt-3 inline-flex items-center text-indigo-500"
            href={`/blogs/${posts.slug}/index.html`}
          >
            詳しく見る
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="ml-2 h-4 w-4"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7" />
            </svg>
          </a>
        </div>
        // card end
      ))
    }
  </div>
</Layout>
