---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';

// devのタグがついたものを取り出し、Dateに基づいてソート
const news_posts = await getCollection('blog', ({ data }) => {
  return data.tag.includes('dev');
}).then((posts) =>
  posts.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  ),
);
---

<Layout title="ニュース一覧">
  <div class="container mx-auto my-4">
    <h1 class="text-3xl font-bold">更新履歴</h1>
    <!-- ニュース一覧 -->
    <section>
      <div>
        <div class="body-font overflow-hidden text-gray-600">
          <div class="mx-auto max-w-6xl px-5 py-24">
            <div class="-my-8 divide-y-2 divide-gray-100">
              {
                news_posts.map((news_post) => (
                  <div class="flex flex-wrap py-8 md:flex-nowrap">
                    <div class="mb-6 flex flex-shrink-0 flex-col md:mb-0 md:w-64">
                      <span class="title-font font-semibold text-gray-700">
                        {news_post.data.tag.map((tag: string) => (
                          <span class="mr-2 inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700">
                            {tag}
                          </span>
                        ))}
                      </span>
                      <span class="mt-1 text-sm text-gray-500">
                        {news_post.data.date}
                      </span>
                    </div>
                    <div class="md:flex-grow">
                      <h2 class="title-font mb-2 text-2xl font-medium text-gray-900">
                        {news_post.data.title}
                      </h2>
                      <p class="leading-relaxed">{news_post.data.lead ?? ''}</p>
                      <a
                        href={`/blogs/${news_post.slug}/index.html`}
                        class="mt-4 inline-flex items-center text-indigo-500"
                      >
                        詳細を見る
                        <svg
                          class="ml-2 h-4 w-4"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M5 12h14" />
                          <path d="M12 5l7 7-7 7" />
                        </svg>
                      </a>
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
