---
import { SEO } from 'astro-seo'
import Navbar from '../components/navbar.astro'
import Footer from '../components/footer.astro'
export interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="jp" class="scroll-smooth">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-ZG7PN8PVWQ"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-ZG7PN8PVWQ')
    </script>
    <!-- End Google tag (gtag.js) -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1" />
    <SEO
      title={title ?? '高橋・狩川研究室'}
      description={description ?? '高橋・狩川研究室のホームページです。'}
      extend={{ link: [{ rel: 'icon', href: '/favicon.ico' }] }}
    />
  </head>
  <body>
    <Navbar />
    <div class="container mx-auto my-4">
      <slot />
    </div>

    <Footer />
  </body>
</html>
