---
import { SEO } from 'astro-seo'
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="jp">
  <head>
    <SEO
      title={title}
      extend={{ link: [{ rel: 'icon', href: '/favicon.ico' }] }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
